.page-container {
    .title {
        font-size: 20;
        font-weight: 600;
        margin: 30 0 15;
    }
    .caption-input {
        font-size: 16;
        border-width: 1;
        border-color: #ccc;
        padding: 10;
        border-radius: 20;
        margin: 0;
        height: auto;
    }
}
