<div (click)="redirectToTimeline()" class="campaign-item">
    <div *ngIf="showStatuses" class="campaign-header">
        <div [ngClass]="campaign.offerStatus.colorClass" class="campaign-status">
            <div *ngIf="campaign.offerStatus.status" class="status-content">
                {{ campaign.offerStatus.status }}
            </div>
        </div>

        <div [ngClass]="campaign.offerStatus.statusMessageColorClass" class="campaign-status-information">
            <svg
                *ngIf="campaign.offerStatus.messageIcon === OFFER_STATUS_ICONS.time"
                fill="none"
                height="15"
                viewBox="0 0 15 15"
                width="15"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M13.75 3.57461L10.875 1.16211L10.0688 2.11836L12.9438 4.53086L13.75 3.57461ZM4.925 2.11836L4.125 1.16211L1.25 3.56836L2.05625 4.52461L4.925 2.11836ZM7.8125 4.99961H6.875V8.74961L9.84375 10.5309L10.3125 9.76211L7.8125 8.28086V4.99961ZM7.5 2.49961C4.39375 2.49961 1.875 5.01836 1.875 8.12461C1.875 11.2309 4.3875 13.7496 7.5 13.7496C10.6063 13.7496 13.125 11.2309 13.125 8.12461C13.125 5.01836 10.6063 2.49961 7.5 2.49961ZM7.5 12.4996C5.08125 12.4996 3.125 10.5434 3.125 8.12461C3.125 5.70586 5.08125 3.74961 7.5 3.74961C9.91875 3.74961 11.875 5.70586 11.875 8.12461C11.875 10.5434 9.91875 12.4996 7.5 12.4996Z"
                    fill="#EB5757"
                />
            </svg>

            <i *ngIf="campaign.offerStatus.messageIcon === OFFER_STATUS_ICONS.done" nz-icon nzTheme="fill" nzType="check-circle"></i>
            <label *ngIf="campaign.offerStatus.statusMessage">{{ campaign.offerStatus.statusMessage }}</label>
        </div>
    </div>

    <div class="campaign-information">
        <div class="campaign-image">
            <img [src]="getImage" />
        </div>

        <div class="campaign">
            <div class="content">
                <div class="campaign-title">
                    {{ campaign.brand }}
                </div>

                <div class="campaign-product-name">
                    {{ campaign.product_name }}
                </div>
            </div>

            <div class="campaign-price">
                <div *ngIf="commissionAmount !== 0" class="price">
                    <span>$</span>
                    <label>{{ commissionAmount }}</label>
                </div>
                <div *ngIf="commissionAmount === 0" class="free-product">
                    <span class="free">Free </span><br />
                    <span class="product">Product</span>
                </div>

                <div *ngIf="isBonusGetted && campaign.influencer_info.accept_bonus !== 0" class="bonus">
                    <span>+</span>
                    <span>$</span>
                    <label>{{ campaign.influencer_info.accept_bonus }}</label>
                </div>

                <div class="img-holder" *ngIf="campaign.platform === 'tiktok'">
                    <img src="assets/images/tiktok.jpg" />
                </div>
                <div class="img-holder" *ngIf="campaign.platform !== 'tiktok'">
                    <img src="assets/images/instagram.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showCampaignDetailsButton" class="campaign-footer">
        <a (click)="redirectToDetails()" class="button view-campaign-details-button"> View Campaign Details </a>
    </div>
</div>
