<section class="tutorial-box">
    <header class="tutorial-title">How Lifo Shop Works</header>

    <section class="step-items">
        <section class="step-item">
            <section class="left-step-icon">1</section>
            <section class="right-step-content">
                <section class="step-desc"><b>Add products</b> from Lifo Recommendation to your selections.</section>
                <section class="step-img step-img-1">
                    <img src="assets/png/tutorial_step_1.png" />
                </section>
            </section>
        </section>

        <section class="step-item">
            <section class="left-step-icon">2</section>
            <section class="right-step-content">
                <section class="step-desc"><b>Share your store url.</b></section>
                <section class="step-img step-img-2">
                    <img src="assets/png/tutorial_step_2.png" />
                </section>
            </section>
        </section>

        <section class="step-item">
            <section class="left-step-icon">3</section>
            <section class="right-step-content">
                <section class="step-desc"><b>Earn commission</b> from every product sold!</section>
                <section class="step-img step-img-3">
                    <img src="assets/png/tutorial_step_3.png" />
                </section>
            </section>
        </section>

        <section class="step-item">
            <section class="left-step-icon">4</section>
            <section class="right-step-content">
                <section class="step-desc">Lifo will take care of all shipping and returns for you.</section>
                <section class="step-img step-img-4">
                    <img src="assets/png/tutorial_step_4.png" />
                </section>
            </section>
        </section>
    </section>

    <footer class="got-it-btn">
        <button class="got-btn" nz-button nzType="primary" (click)="gotIt()">Got it!</button>
    </footer>
</section>
