<section class="purchase-sample-modal">
    <section class="title">Product Sample Request</section>
    <section class="body">
        <section class="body-item">
            <b> Limited time offer!</b> Product samples can be purchased at discounted price to allow you to try them out before promoting.
        </section>
        <section class="body-item">
            By requesting the product sample, you agree to promote this product through Lifo Shop for earning sales commission.
        </section>
    </section>
    <button nz-button class="confirm lifo-btn" (click)="confirm()">Confirm</button>
</section>
