<section class="welcome-section">
    <div class="header">
        <div class="header-logo">
            <img class="panel-image" src="../../../assets/svg/brand_logo_2.svg">
        </div>
    </div>
    <div class="content-text">
        "Thank you for joining Lifo! <br/>
        Stayed tuned for high quality collaborations from awesome brands!"
    </div>
    <div class="get-started-img">
        <img class="panel-image" src="../../../assets/svg/welcome.svg">
    </div>
    <div class="buttons">
        <div Button [routerLink]="['/dashboard']" [type]="'primary'" class="button sign-in-button">Explore</div>
    </div>
</section>

<!--<section *ngIf="deviceDetectorService.isDesktop()">-->
<!--    <div>-->
<!--        <label>The desktop version of the influencer get started page is not ready</label>-->
<!--    </div>-->
<!--</section>-->
