<section class="welcome-section">
    <div class="header">
        <div class="header-logo">
            <img class="panel-image" src="../../../assets/svg/brand_logo_2.svg" />
        </div>
    </div>
    <div class="content-text">Select Your Interested Platforms:</div>

    <div class="flex-container">
        <Flex [justify]="'between'" [wrap]="'wrap'">
            <div
                (click)="selectItem(item)"
                *ngFor="let item of platforms; let key = index"
                [ngClass]="item.checked ? 'checkedImage' : ''"
                class="platform inline"
            >
                <div *ngIf="item.checked" class="checked-industry"><img src="assets/svg/checked-icon.svg" /></div>
                <img
                    *ngIf="item.title !== 'Other'"
                    class="panel-image"
                    src="../../../assets/svg/platform-icons/{{ item.src }}"
                    width="100%"
                />
                <span *ngIf="item.title !== 'Other'">{{ item.title }}</span>
                <p *ngIf="item.title === 'Other'">Other</p>
            </div>
        </Flex>
    </div>

    <div class="content-text">Select Your Preferred Content Types:</div>

    <div class="flex-container">
        <Flex [justify]="'between'" [wrap]="'wrap'">
            <div
                (click)="selectItem(item)"
                *ngFor="let item of contentTypes; let key = index"
                [ngClass]="item.checked ? 'checkedImage' : ''"
                class="content-type inline"
            >
                <div *ngIf="item.checked" class="checked-industry"><img src="assets/svg/checked-icon.svg" /></div>
                <img
                    *ngIf="item.title !== 'Other'"
                    class="panel-image"
                    src="../../../assets/svg/content_types_icons/{{ item.src }}"
                    width="100%"
                />
                <span *ngIf="item.title !== 'Other'">{{ item.title }}</span>
                <p *ngIf="item.title === 'Other'">Other</p>
            </div>
        </Flex>
    </div>

    <div class="buttons">
        <div (click)="confirmBtn()" Button [type]="'primary'" class="sign-in-button">Submit</div>
        <p (click)="goNextPage()" class="skipBtn">Skip</p>
    </div>
</section>
