<StackLayout>
  <Label text="PageHeaderComponent works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div class="page-header">
    <section class="real-content">
        <div class="back" (click)="back()">
            <img *ngIf="!headerConfig.leftImgUrl" src="assets/svg/left_arrow.svg" />
            <img *ngIf="headerConfig.leftImgUrl" [src]="headerConfig.leftImgUrl" />
        </div>
        <label>{{ headerConfig?.title }}</label>
        <section>
            <a (click)="rightLinkClick()" [disabled]="disableRightLink" class="right-btn" nz-button nzType="link">{{
                headerConfig?.rightLinkText
                }}</a>
        </section>
    </section>
</div>

-->