.titles {
    label {
        font-size: 22;
        font-weight: 600;
        color: #333;
        opacity: 0.5;
        margin-right: 20;
    }
    .selected {
        opacity: 1;
    }
}
