:host {
    display: block;
    text-align: justify;
    color: rgba(13, 5, 60, 0.9);

    p {
        margin: 10px 0;
        font-size: 12px;
    }

    h1 {
        font-size: 14px;
        line-height: 20px;
    }

    button {

    }
}
