<ActionBar backgroundColor="#f7f8fc" flat="true" color="#000">
    <NavigationButton text="Back"></NavigationButton>
</ActionBar>

<StackLayout class="restore-box">
    <!-- Forgot password -->
    <StackLayout *ngIf="step==='forgot'">
        <StackLayout *ngIf="!stepCompleted" class="forgot-password">
            <label text="Forgot password" class="title"></label>
            <label
                text="If you’ve forgotten your password, enter your email below. If there’s an associated Lifo account, you’ll receive an email to reset your password."
                class="desc"
                textWrap="true"
            ></label>
            <TextField hint="Email" [(ngModel)]="email"></TextField>
            <button text="Send" (tap)="sendEmail()" [isEnabled]="emailValid"></button>
        </StackLayout>
        <FlexboxLayout *ngIf="stepCompleted" class="input-success" flexDirection="column" justifyContent="flex-start" alignItems="center">
            <StackLayout class="image-box">
                <image src="res://images/check_email" stretch="aspectFit"></image>
            </StackLayout>

            <label class="success-title" text="Check Your Email Inbox" textWrap="true"></label>

            <label
                class="success-desc"
                text="Follow the instruction in the reset email to reset your password. You’ll only receive an email if there is an associated Lifo account for this email."
                textWrap="true"
            ></label>
            <button text="Back" (tap)="back()" marginTop="40"></button>
        </FlexboxLayout>
    </StackLayout>

    <!-- Reset password -->
    <StackLayout *ngIf="step==='reset'">
        <StackLayout *ngIf="!stepCompleted" class="reset-password">
            <label text="Reset password" class="title"></label>
            <label text="Enter a new password for your Lifo account" class="desc" textWrap="true"></label>

            <TextField hint="Password 8+ characters" [(ngModel)]="pwd"></TextField>
            <TextField hint="Confirm your password" [(ngModel)]="confirmPwd"></TextField>
            <label
                visibility="{{ isErrorShow ? 'visible' : 'hidden' }}"
                text="New password and confirm password do not match!"
                marginBottom="20"
                class="error-msg"
                textWrap="true"
            ></label>

            <button text="Reset Password" (tap)="resetPassword()" [isEnabled]="passwordValid"></button>
        </StackLayout>
        <FlexboxLayout *ngIf="stepCompleted" class="input-success" flexDirection="column" justifyContent="flex-start" alignItems="center">
            <StackLayout class="image-box">
                <image src="res://images/reset_success" stretch="aspectFit"></image>
            </StackLayout>

            <label class="success-title" text="Password reset successful" textWrap="true"></label>

            <label class="success-desc" text="Please use your new password to log in." textWrap="true"></label>
            <button text="Login" (tap)="back()" marginTop="40"></button>
        </FlexboxLayout>
    </StackLayout>
</StackLayout>
