.restore-box {
    background-color: #f7f8fc;
    padding: 20;
    height: 100%;

    button {
        margin: 20 0;
        height: 48;
        width: 100%;
        font-weight: 600;
        font-size: 16;
        background-color: #414bb2;
        border-radius: 8;
        color: #fff;
    }

    .forgot-password,
    .reset-password {
        .title {
            margin-bottom: 20;
            font-size: 34;
            font-weight: bold;
            color: #414bb2;
        }
        .desc {
            color: #828282;
            font-size: 14;
            line-height: 1.1;
            word-spacing: 2px;
            margin-bottom: 20;
        }

        TextField {
            margin-top: 20;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            border-width: 1;
            border-color: #ccc;
            background-color: #fff;
            border-radius: 4;
            padding: 15;
        }

        .error-msg {
            font-size: 10;
            color: red;
            margin-top: 2;
        }
    }

    .input-success {
        .image-box {
            border-radius: 20;
            background-color: #f2f3fa;
            width: auto;
            height: auto;
            padding: 30;
            Image {
                width: 50;
                height: 50;
            }
        }

        .success-title {
            font-size: 22;
            margin: 20 0;
            font-weight: bold;
            color: #414bb2;
        }

        .success-desc {
            line-height: 1.4;
            font-weight: 500;
            color: #4f4f4f;
        }
    }
}
