<section class="restore-password-section">
    <div class="header">
        <div class="header-logo">
            <img class="panel-image" src="../../../assets/svg/brand_logo_2.svg">
        </div>
        <div class="central"></div>
        <div>
            <div [routerLink]="['/sign-in']" class="sign-in-button">Sign In</div>
        </div>
    </div>


    <div class="restore-password-form">
        <h3><strong>Restore Password</strong></h3>
        <form [formGroup]="restorePasswordForm" nz-form>
            <nz-form-item *ngIf="!code">
                <nz-form-control [nzErrorTip]="emailErrorTpl">
                    <input formControlName="email"
                           id="email"
                           name="email"
                           nz-input
                           nzSize="large"
                           placeholder="Email Address" type="email">
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('email')">
                            <span class="input-tip">Email is not valid</span>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            <span class="input-tip">Mandatory Field</span>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="code">
                <nz-form-control [nzErrorTip]="passwordEmptyErrorTpl">
                    <input formControlName="password"
                           id="password"
                           name="password"
                           nz-input
                           nzSize="large" placeholder="Password 8+ characters"
                           type="password">
                    <ng-template #passwordEmptyErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('minlength')">
                            <span class="input-tip">Short password!</span>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            <span class="input-tip">Please input your password!</span>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="code">
                <nz-form-control [nzErrorTip]="passwordErrorTpl">
                    <input formControlName="confirmPassword"
                           id="confirmPassword"
                           name="confirmPassword"
                           nz-input
                           nzSize="large" placeholder="Confirm your password"
                           type="password">
                    <ng-template #passwordErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            <span class="input-tip">Please confirm your password!</span>
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                            <span class="input-tip">New password and confirm password do not match</span>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <div class="buttons">
        <div (click)="resetPassword()"
             Button
             [disabled]="!restorePasswordForm.valid"
             [type]="'primary'"
             class="sign-in-button">
            {{code ? 'Save new password' : 'Send Email'}}
        </div>
    </div>
</section>

<!--<section *ngIf="deviceDetectorService.isDesktop()">-->
<!--    <div>-->
<!--        <label>The desktop version of the influencer get started page is not ready</label>-->
<!--    </div>-->
<!--</section>-->
