<app-page-header [headerConfig]="{ title: 'Help Center' }"></app-page-header>

<section class="welcome-sections">
    <ng-template #icon>
        <!-- <Icon [type]="'left'"></Icon> -->
        <i nz-icon nzTheme="outline" nzType="arrow-left"></i>
    </ng-template>
    <div class="content-text">
        <h3>How Can We Help You?</h3>
        <div class="topQuestion">
            <h3>Top Questions</h3>
            <div class="btnList">
          <span (click)="selectClick(i)" *ngFor="let i of radioData"
                [ngClass]="i.checked?'selectBtn':''"
                class="list">{{ i.name }}</span>
            </div>
            <div class="filterList">
                <div class="filterList">
                    <Accordion (onChange)="onChange($event)" [accordion]="true" class="selectList">
                        <AccordionPanel
                            *ngFor="let item of faqList; let i = index"
                            [header]="item.question"
                            [key]="i"
                        >
                            <List className="my-list">
                                {{ item.response }}
                            </List>
                        </AccordionPanel>
                    </Accordion>
                </div>
            </div>
        </div>
    </div>
</section>
